{:paths ["src" "resources"]
 :deps {bsless/clj-fast {:mvn/version "0.0.11"}
        org.clojure/core.async {:mvn/version "1.6.681"}}
 :aliases
 {:dev  {:extra-paths ["envs/dev/src" "envs/dev/resources"
                       "envs/test/src" "envs/test/resources"]
         :extra-deps {com.lambdaisland/classpath {:mvn/version "0.4.44"}
                      flames/flames {:mvn/version "0.5.0"}}}

  :test {:extra-paths ["envs/test/src" "envs/test/resources"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}}}
