{:paths ["src" "resources"]
 :deps {}
 :aliases
 {:dev  {:extra-paths ["envs/dev/src" "envs/dev/resources"
                       "envs/test/src" "envs/test/resources"]
         :extra-deps {com.lambdaisland/classpath {:mvn/version "0.4.44"}}}

  :test {:extra-paths ["envs/test/src" "envs/test/resources"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
