{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[reagent "1.2.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"
   :asset-path "js"
   :modules {:main {:init-fn lotuc.binpack.visualizer/start}}}}}
